<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd">
<configuration scan="false" scanPeriod="1800 seconds" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-4relative %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.ozz" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- HikariCP -->
	<logger name="com.zaxxer.hikari" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- log4jdbc -->
	<logger name="jdbc.sqlonly" level="DEBUG" additivity="false"><!-- sql without execute time -->
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.sqltiming" level="WARN" additivity="false"><!-- sql with execute time, use warn.threshold to log slow sql -->
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>
