<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozz.mybatis.mapper.routing.datasource2.Test2Mapper">
	<select id="selectTest2" resultType="string">
		select user from user
	</select>
</mapper>